* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.solutions {
  margin: auto;
  width: 1200px;
}

h2 {
  font-size: 4em;
  max-width: 50%;
}

.subtitled-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: none;
  margin-top: 1.75rem;
}

.subtitled {
  font-size: 2em;
  max-width: 70%;
}

.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
}
