// Colors

$color-primary: red;
$color-secondary: blue;
$color-tertiary: white;

$color-text: #11111111;

// fonts

$font-size-base: 1.5em;
$font-size-large: 2em;
$font-size-base: 1.5em;
$font-size-large: 2em;
$font-size-xlarge: 2.3em;
$font-size-xxlarge: 3em;
$font-size-xx-large: 4em;
$font-size-xxx-large: 5em;
$font-size-xxxx-large: 6em;

// padding & margin

$gap-base: 0.5em;
$gap-large: 2em;

$margin-base: 1.25rem;
$margin-medium: 1.5rem;
$margin-large: 1.75rem;
$margin-x-large: 2rem;
$margin-xx-large: 2.25rem;
$margin-xxx-large: 2.5rem;

$margin-auto: auto;

$padding-base: 0.5em;
$padding-medium: 1em;
$padding-large: 1.5em;
$padding-x-large: 2em;
$padding-xx-large: 2.5em;

// width

$width-medium: 450px;
$width-large: 650px;
$width-x-large: 800px;
$width-xx-large: 1000px;
$width-xxx-large: 1200px;
$width-xxxx-large: 1400px;

//mixin

@mixin grid-solutions($columns: auto, $rows: auto, $gap: 0) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}

@mixin center-text();
