@import "variables";

.solutions {
  margin: $margin-auto;
  width: $width-xxx-large;
}

h2 {
  font-size: $font-size-xx-large;
  max-width: 50%;
}

.subtitled-div {
  @include center($jus-cont: space-between, $txt-al: none);
  margin-top: $margin-large;
}

.subtitled {
  font-size: $font-size-large;
  max-width: 70%;
}

.button-sub {
  @include button-reset;
}

.gird-solutions {
  @include grid-3x3;

  margin-top: $margin-large;
}

.sol-grid-div {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  background: #f6f3fe;

  &:hover {
    background: linear-gradient(
      93.83deg,
      rgba(199, 177, 254, 0.4) 7.27%,
      rgba(255, 212, 216, 0.4) 105.33%
    );
    border-radius: 0 0px 110px 0;
  }
}

.button {
  @include button-reset;
  text-align: start;
  padding: $padding-large;
  min-height: 260px;

  &-icon {
    font-size: $font-size-large;
  }

  &-h {
    margin-top: $margin-base;
    font-size: $font-size-base;
    color: $color-text;
  }

  &-text-sol {
    font-size: $font-size-small;
    margin-top: $margin-small;
  }

  &-arrow {
    margin-top: $margin-small;
    font-size: $font-size-base;
    font-weight: 400;
  }
}

.pricing-plans {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-xxx-large;
  border: 2px solid #eee;

  &-icon {
    font-size: $font-size-xlarge;
  }

  &-h {
    font-size: $font-size-large;
    margin-top: $margin-small;
    margin-right: $margin-large;
  }

  &-btn {
    font-size: $font-size-base;
    min-width: 230px;
    border: none;
    padding: $padding-small;
    border-radius: 10px 10px 10px 10px;
  }

  &-ultimate {
    background: linear-gradient(
      93.83deg,
      rgba(199, 177, 254, 0.75) 7.27%,
      rgba(255, 212, 216, 0.75) 105.33%
    );
  }

  &-premium {
    margin-top: $margin-small;
    background-color: #eee7fd;
  }
}
